.room-bads-quantity {

    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1.5em;

   
    button {

        cursor: pointer;
        text-align: center;
        border-width: 1px;
        border-style: solid;
        border-color: #DDDDDD;
        color: rgb(34, 34, 34);
        transition-duration: -2.85s;
        transition-timing-function: ease-in-out;
        padding: 10px 20px;
        border-radius: 30px;
        min-width: 59px;
        font-size: 14px;
        background-color: #fff;
        font-family: 'Cereal-Book';
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .any {
        padding: 10px 26px;
    }


}