.modal-filters {
    width: 100%;
    max-width: 780px;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: white;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);

    .header {
        text-align: center;
        border-bottom: 1px solid #EBEBEB;
        position: relative;

        h4 {
            min-height: 64px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .close {
            position: absolute;
            left: 22px;
            top: 22px;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    .price-filter {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 24px;
        margin-right: 24px;
        border-bottom: 1px solid rgb(235, 235, 235);

        h2 {
            padding-bottom: 0.3em;
        }

        p {
            padding-bottom: 1.5em;
            opacity: 0.65;
        }

        .price-filter-content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            label {
                border: 1px solid #ccc;
                border-radius: 10px;
                width: 100%;
                position: relative;
                padding: 0.8em 1em;

                .filter-price-label {
                    position: absolute;
                    font-size: 12px;
                    opacity: 0.65;
                    top: 15%;
                }

                input {
                    border: none;
                    outline: none;
                    position: absolute;
                    top: 45%;
                    margin-left: 10px;
                    font-size: 14px;

                }

                .price-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    .curr-sign {
                        z-index: 5;
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }
            }

        }
    }

    .place-filter {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-left: 24px;
        margin-right: 24px;
        border-bottom: 1px solid rgb(235, 235, 235);
        display: flex;
        flex-direction: column;

        h2 {
            padding-bottom: 0.3em;
        }

        .type-of-place {
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
                width: 50%;
                display: flex;
                align-items: center;
                gap: 1em;

                .checkbox-filter-input {
                    align-self: flex-start;

                    input {
                        height: 24px;
                        width: 24px;
                    }

                }


                p {
                    font-size: 14px;
                    opacity: 0.65;
                }

            }



        }
    }

    .footer {
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        min-height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .clear {
            background: none;
            border: none;
            font-family: 'Cereal-Medium';
            text-decoration: underline;
            font-size: 16px;
            cursor: pointer;

        }

        .show-homes {
            color: white;
            background: #222222;
            font-family: 'Cereal-Medium';
            border-width: 1px;
            border-style: solid;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 24px;
            padding-right: 24px;
            transition: box-shadow 0.2s ease, transform 0.1s ease;
            border: none;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}