.stay-search {
    border: 1px solid #dddddd;
    border-radius: 2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 0.4em;
    width: fit-content;
    margin: auto;
    gap: 0.2em;


    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }






    button {
        padding: 14px;
        border: none;
        background: none;
        font-family: Cereal-Medium;
        font-size: 14px;
        cursor: pointer;

    }

    .add-guests {
        opacity: 0.65;
        font-family: Cereal-Book;
    }

    .any-week {
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        padding: 4px 12px;
    }

    .search-icon-btn {
        background-color: #FF385C;
        border-radius: 2em;
        color: white;
        display: flex;
        align-items: center;
        padding: 8px;
        justify-content: center;

    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
    z-index: 100;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .slide-in {
        transform: translateY(0);

    }

    .slide-out {
        transform: translateY(100%);

    }
}